@import "../../_fonts.sass"

.container
  align-items: flex-start
  display: flex
  flex-direction: column
  overflow: auto
  *
    margin: 5px
  label
    font-family: $fontFamilyBold
    font-size: 16px
    font-weight: 700
  .inputType
    color: #777
    font-size: 12px
    margin: 0

.section
  width: calc(100% - 30px)

  select
    width: 300px

  textArea
    font-family: $fontFamilyDefault
    width: 100%
    &.caption
      height: 60px

  input[type="text"]
    width: 100%

  .note
    font-size: 14px
    font-style: italic
