@import "colors.sass"

// Window shades have 4 different color themes based on the type: 
//
// | Type of Button      | Theme  |
// |---------------------|--------|
// | theoryAndBackground | yellow |
// | teacherTip          | blue   |
// | discussionPoints    | orange |
// | diggingDeeper       | purple |
//
// Orthognal to each of these color sets based on the window shade type, each
// one has a set stylistic properties used in it's rendering:
//
//  * textColor, textColorOnHover: for the title text, in the button, itself.
//
//  * backgroundColor, backgroundColorOnHover: background behind the title
//    text of the button, and the media icon, if one is present.
//
//  * borderColor: border color draw around the button, and the content when it
//    is displayed.
//
//  * iconColor, iconBackgroundColor: how this will actually work is yet to be
//    determeind.
//
//  * mediaIconColor: the color used to render the media icon, if one is
//    present in the window shade button.

// The "yellow" theme, used for theoryAndBackground

$yellowTextColor: $darkYellow
$yellowTextColorOnHover: $darkYellow
$yellowBackgroundColor: $fullYellow
$yellowBackgroundColorOnHover: $brightYellow
$yellowIconColor: $paleYellow
$yellowIconBackgroundColor: $mediumYellow
$yellowBorderColor: $deepYellow
$yellowContentBackgroundColor: $paleYellow
$yellowMediaIconColor: $mediumYellow
$yellowHilitText: $deepYellow

// The "blue" theme, used for teacherTips & teacherTipOverlay

$blueTextColor: $paleBlue
$blueTextColorOnHover: $darkBlue
$blueBackgroundColor: $fullBlue
$blueBackgroundColorOnHover: $brightBlue
$blueIconColor: $paleBlue
$blueIconBackgroundColor: $mediumBlue
$blueBorderColor: $deepBlue
$blueContentBackgroundColor: $paleBlue
$blueMediaIconColor: $mediumBlue
$blueHilitText: $mediumBlue

// The "orange" theme, used for discussionPoints

$orangeTextColor: $paleOrange
$orangeTextColorOnHover: $darkOrange
$orangeBackgroundColor: $fullOrange
$orangeBackgroundColorOnHover: $brightOrange
$orangeIconColor: $paleOrange
$orangeIconBackgroundColor: $mediumOrange
$orangeBorderColor: $deepOrange
$orangeContentBackgroundColor: $paleOrange
$orangeMediaIconColor: $mediumOrange
$orangeHilitText: $darkOrange

// The "purple" theme, used for diggingDeeper

$purpleTextColor: $palePurple
$purpleTextColorOnHover: $darkPurple
$purpleBackgroundColor: $fullPurple
$purpleBackgroundColorOnHover: $brightPurple
$purpleIconColor: $palePurple
$purpleIconBackgroundColor: $mediumPurple
$purpleBorderColor: $darkPurple
$purpleContentBackgroundColor: $palePurple
$purpleMediaIconColor: $mediumPurple
$purpleHilitText: $deepPurple
