// There are several color pallets used for different purposes. A particular
// pallet is applied to the UI, based on the type of (or the content of) a
// particular widget being displayed.
//
// For example, the "Teacher Tip" sections are rendered using the blue pallet
// whereas "Digging Deeper" sections are rendered using the orange pallet.
//
// This partial SASS file defines variables with, more-or-less, human readable
// names, for the specific colors in each pallet.

$textBlack: #1A1A1A
$captionBlack: #7A7A7A

$darkYellow: #5E5E04
$deepYellow: #878706
$mediumYellow: #C1C108
$fullYellow: #FAFA15
$brightYellow: #FDFDA4
$paleYellow: #FEFEE3
$lightYellow: #FCFC51

$darkBlue: #073A70
$deepBlue: #094F98
$mediumBlue: #0D6DD2
$fullBlue: #1A97FF
$brightBlue: #A6D5FF
$paleBlue: #E4F1FF

$darkOrange: #7E4904
$deepOrange: #A66006
$mediumOrange: #DC8008
$fullOrange: #FDA61C
$brightOrange: #FEDEB1
$fadedOrange: #FEC164
$paleOrange: #FFF4E5

$darkPurple: #6B0E60
$deepPurple: #871479
$mediumPurple: #AB1C9A
$fullPurple: #CB55BB
$somePurple: #DE98D5
$brightPurple: #EECEE9
$palePurple: #F9EFF8

$darkAqua: #0E6F75
$deepAqua: #128D92
$mediumAqua: #17B3BA
$fullAqua: #1BD5DB
$someAqua: #77E5E9
$brightAqua: #C1F1F3
$paleAqua: #ECFBFB

// Creamsicle light → dark
$creamsicle-light-3: #FFF9E6
$creamsicle-light-2: #FFECB3
$creamsicle-light-1: #FEDE6C
$creamsicle: #FED02A
$creamsicle-dark-1: #E7AD01
$creamsicle-dark-2: #AB8103
$creamsicle-dark-3: #6E5200

// Jewel light → dark
$jewel-light-3: #EFEFFC
$jewel-light-2: #FFECB3
$jewel-light-1: #999CF3
$jewel: #6065FF
$jewel-dark-1: #242CE2
$jewel-dark-2: #0E18DD
$jewel-dark-3: #0C15C5

// Green light → dark
$green-light-3: #E9FCED
$green-light-2: #B8F7C3
$green-light-1: #6CF083
$green: #2FE450
$green-dark-1: #19B533
$green-dark-2: #128325
$green-dark-3: #0D601C
