@import "colors.sass"

// Window shades have 5 different color themes based on the type:
//
// | Type of Button      | Theme  |
// |---------------------|--------|
// | theoryAndBackground | yellow |
// | teacherTip          | blue   |
// | discussionPoints    | orange |
// | diggingDeeper       | purple |
// | howToUse            | aqua   |
//
// Orthognal to each of these color sets based on the window shade type, each
// one has a set stylistic properties that are used in it's rendering:
//
//  * ButtonTextColor, ButtonTextHoverColor, ButtonBackgroundColor,
//    ButtonBackgroundHoverColor: colors behind the button's title-text, shown
//    inside the WindowShadeButton, itself. The background colors are also used
//    behind the media icon, if present in the button.
//
//  * BorderColor: the color used to draw the border around the button and the
//    around the content, when it's displayed.
//
//  * ContentTextColor, ContentTextAccentColor, ContentBackgroundColor: the
//    normal-text, emphasiazed-text, and background colors used for the text
//    content displayed in an "open" WindowShadedContent component.
//
//  * RearIconColor, FrontIconColor, MediaIconColor: the svg "fill" colors used
//    to render the icons of the LeftEndCap and RightEndCap components.
//
//  * IconBackgroundColor: the background color behind the combination of the
//    rear and front icons in the LeftEndCap component.

// The "yellow" theme; used for theoryAndBackground

$yellowButtonTextColor: $darkYellow
$yellowButtonTextHoverColor: $darkYellow
$yellowButtonBackgroundColor: $fullYellow
$yellowButtonBackgroundHoverColor: $brightYellow

$yellowBorderColor: $deepYellow

$yellowContentTextColor: $textBlack
$yellowContentTextAccentColor: $deepYellow
$yellowContentBackgroundColor: $paleYellow

$yellowRearIconColor: $lightYellow
$yellowFrontIconColor: $paleYellow
$yellowMediaIconColor: $mediumYellow
$yellowIconBackgroundColor: $mediumYellow

// The "blue" theme; used for teacherTips & teacherTipOverlay

$blueButtonTextColor: $paleBlue
$blueButtonTextHoverColor: $darkBlue
$blueButtonBackgroundColor: $fullBlue
$blueButtonBackgroundHoverColor: $brightBlue

$blueBorderColor: $deepBlue

$blueContentTextColor: $textBlack
$blueContentTextAccentColor: $mediumBlue
$blueContentBackgroundColor: $paleBlue

$blueRearIconColor: $brightBlue
$blueFrontIconColor: $paleBlue
$blueMediaIconColor: $mediumBlue
$blueIconBackgroundColor: $mediumBlue

// The "orange" theme; used for discussionPoints

$orangeButtonTextColor: $paleOrange
$orangeButtonTextHoverColor: $darkOrange
$orangeButtonBackgroundColor: $fullOrange
$orangeButtonBackgroundHoverColor: $brightOrange

$orangeBorderColor: $deepOrange

$orangeContentTextColor: $textBlack
$orangeContentTextAccentColor: $darkOrange
$orangeContentBackgroundColor: $paleOrange

$orangeRearIconColor: $fadedOrange
$orangeFrontIconColor: $paleOrange
$orangeMediaIconColor: $mediumOrange
$orangeIconBackgroundColor: $mediumOrange

// The "purple" theme; used for diggingDeeper

$purpleButtonTextColor: $palePurple
$purpleButtonTextHoverColor: $darkPurple
$purpleButtonBackgroundColor: $fullPurple
$purpleButtonBackgroundHoverColor: $brightPurple

$purpleBorderColor: $deepPurple

$purpleContentTextColor: $textBlack
$purpleContentTextAccentColor: $deepPurple
$purpleContentBackgroundColor: $palePurple

$purpleRearIconColor: $somePurple
$purpleFrontIconColor: $palePurple
$purpleMediaIconColor: $mediumPurple
$purpleIconBackgroundColor: $mediumPurple

// The "aqua" theme; used for howToUse

$aquaButtonTextColor: $paleAqua
$aquaButtonTextHoverColor: $darkAqua
$aquaButtonBackgroundColor: $fullAqua
$aquaButtonBackgroundHoverColor: $brightAqua

$aquaBorderColor: $deepAqua

$aquaContentTextColor: $textBlack
$aquaContentTextAccentColor: $deepAqua
$aquaContentBackgroundColor: $paleAqua

$aquaRearIconColor: $someAqua
$aquaFrontIconColor: $paleAqua
$aquaMediaIconColor: $mediumAqua
$aquaIconBackgroundColor: $mediumAqua

