// There are several color pallets used for various purposes, where a particular
// pallet is applied to the UI based on the type of the widget being displayed.
// For example, the "Teacher Tip" sections are rendered using the blue pallet
// where as "Digging Deeper" sections are rendered using the orange pallet.
//
// This partial defines variables, with more-or-less human readable names, for
// the particular colors in each pallet.

$darkYellow: #5E5E04
$deepYellow: #878706
$mediumYellow: #C1C108
$fullYellow: #FAFA15
$brightYellow: #FDFDA4
$paleYellow: #FEFEE3

$darkBlue: #073A70
$deepBlue: #094F98
$mediumBlue: #0D6DD2
$fullBlue: #1A97FF  
$brightBlue: #A6D5FF
$paleBlue: #E4F1FF

$darkOrange: #7E4904
$deepOrange: #A66006
$mediumOrange: #DC8008
$fullOrange: #FDA61C
$brightOrange: #FEDEB1
$paleOrange: #FFF4E5

$darkPurple: #6B0E60
$deepPurple: #871479
$mediumPurple: #AB1C9A
$fullPurple: #CB55BB
$brightPurple: #EECEE9
$palePurple: #F9EFF8
