@import "_color-themes.sass"

$radius: 25px
$endCapRadius: 28px
$labelFont: 24px arial, sans-serif
$border-style: solid
$border-width: 3px
$padding: 45px 30px 28px 30px
$borderRadius: 0px 0px $radius $radius
$windowShadeButtonWidth: 400px
