@import "themes.sass"

.leftEndCap
  width: 50px
  padding: 0
  margin: 0
  border: 3px solid
  border-radius: 25px 0 0 25px
  border-right: 0
  &.theoryAndBackground
    fill: $yellowIconColor
    background-color: $yellowIconBackgroundColor
    border-color: $yellowBorderColor
  &.teacherTip
    fill: $blueIconColor
    background-color: $blueIconBackgroundColor
    border-color: $blueBorderColor
  &.discussionPoints
    fill: $orangeIconColor
    background-color: $orangeIconBackgroundColor
    border-color: $orangeBorderColor
  &.diggingDeeper
    fill: $purpleIconColor
    background-color: $purpleIconBackgroundColor
    border-color: $purpleBorderColor
    