@import "themes.sass"
  
.questionWrapper
  .headers
    height: 50px
    overflow: hidden
    display: flex

    div
      max-width: 210px
      flex: 1
      white-space: nowrap
      font-family: $tabFont
      font-weight: $tabWeight
      font-size: $tabSize
      color: white
      border-left: 3px solid
      border-top: 3px solid
      border-right: 3px solid
      border-top-left-radius: 24px
      border-top-right-radius: 24px
      display: inline-block
      height: 50px
      text-align: left
      cursor: pointer
      vertical-align: top
      margin-top: 15px
      transition: margin-top 250ms cubic-bezier(.43,.77,1,1.76)
      margin-right: 4px
      &:last-child
        margin-right: 0
      &:hover
        margin-top: 0 !important
        transition: margin-top 0.25s
        transition-timing-function: ease-in-out

      svg
        width: 45px
        margin-right: -5px
        margin-left: -2px
        vertical-align: middle
        fill: white


    .correct, .exemplar
      background: #2FE450
      border-color: #128325
    .distractors
      background: #FC1B1B
      border-color: #A20005
    .teacherTip
      background: #1A97FF
      border-color: #094F98

  .wrappedContent
    border: 3px solid #7A7A7A
    border-bottom-left-radius: 17px
    border-bottom-right-radius: 17px
    padding: 1px
    position: relative

    .overlay
      position: absolute
      pointer-events: none
      width: 100%
      height: 100%
      top: 0
      left: 0
      z-index: 1000
      border-radius: inherit

    &.correct, &.examplar
      .overlay
        background: #2FE450
        opacity: 0.12
      .footer
        background: #B8F7C3

    &.distractors
      .overlay
        background: #FC1B1B
        opacity: 0.12
      .footer
        background: #FDB2B2

    &.teacherTip
      .overlay
        background: #A6D5FF
        opacity: 0.12
      .footer
        background: #A6D5FF

  .correctTickMark
    position: absolute
    svg
      fill: #19B533
      width: 30px
      margin-left: -7.5px
      margin-top: -7.5px

  .distractorXMark
    position: absolute
    svg
      fill: #DA0006
      width: 30px
      margin-left: -7.5px
      margin-top: -7.5px

  .teacherTipImageOverlay
    width: 100%
    position: absolute
    top: 0
    left: 0

  .footer
    font-family: Arial, Helvetica, sans-serif
    font-size: 16px
    line-height: 24px
    padding: 25px 30px
    border-bottom-left-radius: 13px
    border-bottom-right-radius: 13px
    color: #1A1A1A
    strong
      font-weight: bold
    h1, h2, h3, h4
      font-weight: bold
      font-size: 18px

    p
      margin-top: 0px
      margin-bottom: 12pt


  // Interactive teacher tip has different styles. It's enough to amend basic styles.
  &.interactiveWrapper
    .wrappedContent
      border-color: transparent
      border-top-color: #094F98
      border-bottom-left-radius: 17px
      border-bottom-right-radius: 17px
      &.open
        border-color: #094F98

    .dotLeft, .dotRight
      width: 9px
      height: 9px
      background: #094F98
      border-radius: 9px
      position: absolute
      top: 0
      margin-top: -6px
      z-index: 2000
    .dotLeft
      left: 0
      margin-left: -5px
    .dotRight
      right: 0
      margin-right: -5px


    .headers
      height: 50px
      overflow: hidden
      display: flex
      padding-left: 22px

      div
        max-width: 400px
        background-color: #1A97FF
        border-color: #094F98
        color: #E4F1FF
        margin-top: 0

        &:hover
          background-color: #A6D5FF
          color: #094F98

        .teacherTipLabel
          display: inline-block
          width: calc(100% - 88px)
          vertical-align: middle
          text-align: center
          font-size: 20px

        .teacherTipIcon
          vertical-align: middle
          background: #0D6DD2
          height: 100%
          width: 44px
          display: inline-block
          border-top-left-radius: 22px
