@import "themes.sass"

.rightEndCap
  min-height: 50px
  min-width: 50px
  padding: 0
  margin: 0
  border: 3px solid
  border-radius: 0 25px 25px 0
  border-left: 0
  &.theoryAndBackground
    fill: $yellowIconColor
    background-color: $yellowBackgroundColor
    border-color: $yellowBorderColor
    &:hover
      background-color: $yellowBackgroundColorOnHover
  &.teacherTip
    fill: $blueIconColor
    background-color: $blueBackgroundColor
    border-color: $blueBorderColor
  &.discussionPoints
    fill: $orangeIconColor
    background-color: $orangeBackgroundColor
    border-color: $orangeBorderColor
  &.diggingDeeper
    fill: $purpleIconColor
    background-color: $purpleBackgroundColor
    border-color: $purpleBorderColor
    