@import "themes.sass"

.windowShade
  width: 100%
  max-width: 946px
  box-sizing: border-box
  border-radius: $borderRadius
  border: $border-style $border-width

.theoryAndBackground
  border-color: $yellowBorderColor
  background-color: $yellowContentBackgroundColor

.teacherTip
  border-color: $blueBorderColor
  background-color: $blueContentBackgroundColor

.discussionPoints
  border-color: $orangeBorderColor
  background-color: $orangeContentBackgroundColor

.diggingDeeper
  border-color: $purpleBorderColor
  background-color: $purpleContentBackgroundColor

.howToUse
  border-color: $aquaBorderColor
  background-color: $aquaContentBackgroundColor

.framing
  border-color: $creamsicleBorderColor
  background-color: $creamsicleContentBackgroundColor

.demo
  border-color: $jewelBorderColor
  background-color: $jewelContentBackgroundColor

.offline
  border-color: $greenBorderColor
  background-color: $greenContentBackgroundColor

.windowShadeShown
  height: auto
  margin-top: 45px
  margin-bottom: 0

.windowShadeHidden
  height: 0
  border-bottom: 0
  border-radius: 0
  margin-top: 45px
  margin-right: 3px
  margin-bottom: 25px
  border-left-color: transparent
  border-right-color: transparent
  .content
    height: 0
    overflow: hidden

.inlineAuthoring
  margin-top: 28px
