.editor
  font-family: "Roboto", sans-serif
  font-size: 12pt
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  margin: 1em;
  padding: 1em;
  background: hsl(50, 10%, 95%);
  border-radius: 0.5em;
  *
    margin: 1em

.preview
  border: 1px solid gray;
  min-width: 49%;


.form
  border: 1px solid gray;