.windowShade

.windowShadeToggle
  position: relative
  height: 50px
  top: 25px
  left: 22px
  margin-right: 44px
  border-radius: 25px
  border: #878706 solid 3px
  display: flex;
  flex-direction: column
  justify-content: center
  text-align: center
  font-family: "Roboto", sans-serif
  font-size: 18pt
  font-weight: bold
  &:hover
    background-color: #FDFDA4

.windowShadeContentShow
  height: auto
  background-color: #FEFEE3
  border: #878706 solid 3px
  border-radius: 0px 0px 25px 25px
  padding: 30px
  padding-top: 45px;
  padding-bottom: 28px;

.windowShadeContentHide
  height: 0px
  overflow: hidden

.content
  font-family: Arial, sans-serif
  font-size: 16pt
  font-weight: regular
  line-height: 24pt
  margin-bottom: 12pt

.theory-and-background
  background-color: #FCFC51
  border-color: #878706
  color: #5E5E04
  &:hover
    background-color: #FDFDA4
  &.content
    background-color: #FEFEE3
    color: #1A1A1A


.teacher-tip
  background-color: #1A97FF
  border-color: #094F98
  color: #E4F1FF
  &:hover
    background-color: #E4F1FF
    color: #073A70
  &.content
    background-color: #E4F1FF
    color: #1A1A1A
