.edit
  font-family: "Roboto", sans-serif
  font-size: 12pt
  display: flex;
  flex-direction: row;
  align-items: space-around;
  justify-content: center;
  margin: 1em;
  padding: 1em;
  background: hsl(50, 10%, 95%);
  border-radius: 0.5em;
  *
    margin: 1em

  .preview
  border: 1px solid gray;

.form
  border: 1px solid gray;