@import "themes.sass"
  
.windowShadeButton
  top: -28px
  left: 40px
  max-width: 400px
  height: 50px
  position: relative
  display: flex
  flex-direction: row
  flex-wrap: nowrap
  justify-content: flex-start
  align-items: center
  font-weight: bold
  font-size: 18pt
  border-radius: $radius
  cursor: pointer
  user-select: none
.theoryAndBackground
  background-color: $yellowBackgroundColor
  border-color: $yellowBorderColor
  color: $yellowTextColor
  &:hover
    background-color: $yellowBackgroundColorOnHover

.teacherTip
  background-color: $blueBackgroundColor
  border-color: $blueBorderColor
  color: $blueTextColor
  &:hover
    background-color: $blueBackgroundColorOnHover
    color: $blueTextColorOnHover

.discussionPoints
  background-color: $orangeBackgroundColor
  border-color: $orangeBorderColor
  color: $orangeTextColor
  &:hover
    background-color: $orangeBackgroundColorOnHover
    color: $orangeTextColorOnHover

.diggingDeeper
  background-color: $purpleBackgroundColor
  border-color: $purpleBorderColor
  color: $purpleTextColor
  &:hover
    background-color: $purpleBackgroundColorOnHover
    color: $purpleTextColorOnHover
