@import "themes.sass"

.windowShade
  width: 946px
  max-width: 946px
  min-width: 946px
  border-radius: $borderRadius
  border: $border-style $border-width
  
.theoryAndBackground
  border-color: $yellowBorderColor
  background-color: $yellowContentBackgroundColor

.teacherTip
  border-color: $blueBorderColor
  background-color: $blueContentBackgroundColor

.discussionPoints
  border-color: $orangeBorderColor
  background-color: $orangeContentBackgroundColor

.diggingDeeper
  border-color: $purpleBorderColor
  background-color: $purpleContentBackgroundColor

.windowShadeShown
  height: auto
  animation-name: windowShadeReveal
  animation-duration: 1s
  opacity: 100%

@keyframes windowShadeReveal
  from
    opacity: 0

.windowShadeHidden
  border-left: -3px
  border-right: 0
  border-bottom: 0
  border-radius: 0
  margin-right: 3px;
  height: 0
  .content
    overflow: hidden
    height: 0
    opacity: 0
