@import "themes.sass"
  
.windowShadeButton
  top: -28px
  left: 25px
  max-width: $windowShadeButtonWidth
  height: 50px
  position: relative
  display: flex
  flex-direction: row
  flex-wrap: nowrap
  justify-content: flex-start
  align-items: center
  font-weight: bold
  font-size: 18pt
  border: none
  border-radius: $radius
  cursor: pointer
  user-select: none
  
.theoryAndBackground
  color: $yellowButtonTextColor
  background-color: $yellowButtonBackgroundColor
  &:hover
    color: $yellowButtonTextHoverColor
    background-color: $yellowButtonBackgroundHoverColor

.teacherTip
  color: $blueButtonTextColor
  background-color: $blueButtonBackgroundColor
  &:hover
    color: $blueButtonTextHoverColor
    background-color: $blueButtonBackgroundHoverColor

.discussionPoints
  color: $orangeButtonTextColor
  background-color: $orangeButtonBackgroundColor
  &:hover
    color: $orangeButtonTextHoverColor
    background-color: $orangeButtonBackgroundHoverColor

.diggingDeeper
  color: $purpleButtonTextColor
  background-color: $purpleButtonBackgroundColor
  &:hover
    color: $purpleButtonTextHoverColor
    background-color: $purpleButtonBackgroundHoverColor
