@import "themes.sass"

.windowShadeContent
  margin: 20px
  font-family: $textFont
  font-weight: $textWeight
  font-size: $textSize
  line-height: $textHeight
  margin-bottom: 12pt

.authorMarkdown
  margin: 30px
  margin-top: -15px
  table
    border-collapse: collapse
  th, td
    padding-left: 10px
    padding-right: 19px
    border: solid 1px $textBlack

.theoryAndBackground
  color: $yellowContentTextColor
  &.authorMarkdown
    h1,h2,h3,h4,h5,th,em,strong
      color: $yellowContentTextAccentColor
     
.teacherTip
  color: $blueContentTextColor
  &.authorMarkdown
    h1,h2,h3,h4,h5,th,em,strong
      color: $blueContentTextAccentColor

.discussionPoints
  color: $orangeContentTextColor
  &.authorMarkdown
    h1,h2,h3,h4,h5,th,em,strong
      color: $orangeContentTextAccentColor

.diggingDeeper
  color: $purpleContentTextColor
  &.authorMarkdown
    h1,h2,h3,h4,h5,th,em,strong
      color: $purpleContentTextAccentColor

.mediaContainerLeft
  display: grid
  margin-left: 20px
  margin-right: 20px
  margin-bottom: 20px
  .mediaWrapper
    grid-column-start: 1
    grid-column-end: 2
    grid-row-start: 1
    grid-row-end: 1
    grid-column-gap: 0
    width: 570px
    img
      width: 512px
      border: solid 2px
      &.theoryAndBackground
        border-color: $deepYellow
      &.teacherTip
        border-color: $deepBlue
      &.discussionPoints
        border-color: $deepOrange
      &.diggingDeeper
        border-color: $deepPurple
    video
      width: 512px
      border: solid 2px
      &.theoryAndBackground
        border-color: $deepYellow
      &.teacherTip
        border-color: $deepBlue
      &.discussionPoints
        border-color: $deepOrange
      &.diggingDeeper
        border-color: $deepPurple
    .mediaCaption
      width: 492px
      text-align: center
      font-family: $captionFont
      font-weight: $captionWeight
      font-size: $captionSize
      font-style: italic
      line-height: $captionHeight
      color: $captionBlack
      em,strong
        color: $captionBlack
  .leftLayoutContentWrapper
    grid-column-start: 2
    grid-column-end: 3
    grid-row-start: 1
    grid-row-end: 2

.mediaContainerCenter
  margin-left: 20px
  margin-right: 20px
  margin-bottom: 20px
  width: 880px
  // .centerLayoutContentWrapper
  //   width: 570px
  //   img
  //     width: 512px
  //     border: solid 2px
  //     &.theoryAndBackground
  //       border-color: $deepYellow
  //     &.teacherTip
  //       border-color: $deepBlue
  //     &.discussionPoints
  //       border-color: $deepOrange
  //     &.diggingDeeper
  //       border-color: $deepPurple
  //   video
  //     width: 512px
  //     border: solid 2px
  //     &.theoryAndBackground
  //       border-color: $deepYellow
  //     &.teacherTip
  //       border-color: $deepBlue
  //     &.discussionPoints
  //       border-color: $deepOrange
  //     &.diggingDeeper
  //       border-color: $deepPurple
  //   .mediaCaption
  //     width: 492px
  //     text-align: center
  //     font-size: 14pt
  //     font-style: italic
  //     line-height: 17pt
  //     color: $captionBlack
  //     em,strong
  //       color: $captionBlack
  // .leftLayoutContentWrapper
  //   font-size: 16pt
  //   line-height: 24pt
  // .mediaWrapper
  //   min-width: 512px
  //   max-width: 512px
  //   img
  //     border: solid 3px red
  // .mediaCaption
  //   text-align: center
  //   width: 490px
  // .centerLayoutContentWrapper
  //   margin-left: 60px
